<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDX2_komuNDH95r7qD3RgvBYWbDbjPfG0s</string>
	<key>GCM_SENDER_ID</key>
	<string>752792389432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Vosik.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-de504</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-de504.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752792389432:ios:add9d6fba7f5423ca463cd</string>
</dict>
</plist>